<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/livro-ico.png">
    <title>Paixão por Leitura</title>
  </head>
  <body>
    <header>
      <img src="/img/livro-ico.png" alt="logo">
      <a id="linkMain" href="/"><span>Paixão por Leitura</span></a>
      <div class="login">
          <p id="login_cad"><a href="/user/cadastro">Cadastre-se</a></p>
          <p id="login_log"><a href="/user/login">Login</a></p>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <span>Desenvolvido por André Luís Silva Medina</span>
    </footer>

  <script src="/scripts/main.js"></script>
  </body>
</html>