<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="shortcut icon" href="/img/livro-ico.png" />
    <title>Paixão por Leitura</title>
  </head>
  <body>
    <header>
      <div class="myheader container-fluid row d-flex align-items-center m-0">
        <div class="col"><img src="/img/livro-ico.png" alt="logo" /></div>
        <a class="col title text-decoration-none" href="/">Paixão por Leitura</a>

        {{#if session.userid}}
          <div class="login col text-end">
            <span class="text-light text-nowrap">Olá
              {{session.username}}
              |</span>
            <a href="/auth/logout" class="text-light">Sair</a>
          </div>
        {{else}}
          <div class="login col text-end">
            <a
              href="/auth/register"
              class="text-light text-nowrap"
            >Cadastre-se</a>
            <a href="/auth/login" class="text-light ps-3 border-start">Login</a>
          </div>
        {{/if}}

      </div>
    </header>
    {{#if session.userid}}
      <div class="dropdown position-absolute mt-2">
        <button
          class="btn btn-dark dropdown-toggle"
          data-bs-toggle="dropdown"
        >Menu</button>
        <div class="mydropdown dropdown-menu">
          <span class="dropdown-header fw-bold text-dark">Resenhas</span>
          <div class="small">
            <a href="/resenhas/list" class="dropdown-item">Lista</a>
            <a href="/resenhas/create" class="dropdown-item">Criar</a>
            <a href="/resenhas/edit" class="dropdown-item">Editar</a>
            <a href="/resenhas/delete" class="dropdown-item">Deletar</a>
          </div>
          <hr class="dropdown-divider" />
          <span class="dropdown-header fw-bold text-dark">Leituras</span>
          <div class="small">
            <a href="/leituras/atuais" class="dropdown-item">Atuais</a>
            <a href="/leituras/terminadas" class="dropdown-item">Concluídas</a>
            <hr class="dropdown-divider" />
            <a
              href="/livros/wishlist"
              class="dropdown-item fw-bold text-dark"
            >Lista de desejos</a>
          </div>
          <hr class="dropdown-divider" />
          <a
            href="/livros/adquiridos"
            class="dropdown-item fw-bold text-dark"
          >Adquiridos</a>
        </div>
      </div>
    {{/if}}
    {{#if messages.message}}
      <div class="fmessage">
        <p id="close">X</p>
        {{messages.message}}
      </div>
    {{/if}}
    <main>
      {{{body}}}
    </main>

    <footer>
      <span>Desenvolvido por André Luís Silva Medina</span>
    </footer>
    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>