<section id="conteudo">
    <div>
        <h1>Deletar Resenha</h1>
        <form action="/resenhas/delete" method="POST">
            <div id="resTit" class="input_div">  
                <label>Selecione o livro:</label>
                <select id="select" name="livro" clas="selectResenha">
                    <option></option>
                    {{#each resenhas}}
                        <option value="{{livro}}">{{livro}}</option>
                    {{/each}}
                </select>              
            </div>
            <input class="btn" type="submit" value="Deletar"></form>
        </form>
    </div>
    {{#each resenhas}}
        <p class="textArea" id="textDel">{{resenha}}</p>
    {{/each}}
</section>