<section id="conteudo">
  <div>
    <h1>Editar Resenha</h1>
    <form class="form-control" action="/resenhas/edit" method="POST">
      <div id="resTit" class="input_div p-3">
        <label>Livro:</label>
        <select id="select" name="livro" clas="selectResenha">
          <option></option>
          {{#each resenhas}}
            <option value="{{livro}}">{{livro}}</option>
          {{/each}}
        </select>
      </div>
      <p class="alerta">{{alert}}</p>
      {{#each resenhas}}
        <textarea
          class="textArea"
          name="resenha"
          cols="40"
          rows="10"
          maxlength="2500"
        >{{resenha}}</textarea>
      {{/each}}
      <div class="div_btn">
        <input
          id="submitRes"
          class="mybtn btn btn-primary mb-2"
          type="submit"
          value="Salvar"
        />
      </div>
    </form>
  </div>
</section>