<section id="conteudo">
    <div>
    <h1>Ver Resenhas</h1>
        <div class=" text-center">  
            <label class="fw-bold text-primary">Selecione o livro:</label>
            <select id="selectVer" name="livro" clas="selectResenha">
                <option></option>
                {{#each resenhas}}
                    <option value="{{livro}}">{{livro}}</option>
                {{/each}}
            </select>             
        </div>
        {{#each resenhas}}
            {{> resPart}}
        {{/each}}
    </div>
    <a href="#" class="topo"><i class="bi bi-arrow-up-circle-fill"></i></a> 
</section>