<section class="imagens">
  <figure><img
      src="/img/som-e-a-furia.jpg"
      alt="Capa do livro, jogos vorazes 1"
    /></figure>
  <figure><img
      src="/img/oblomov.jpg"
      alt="Capa do livro, jogos vorazes 2"
    /></figure>
  <figure><img
      src="/img/a-casa-da-alegria.jpg"
      alt="Capa do livro, É assim que acaba"
    /></figure>
  <figure><img src="/img/o-fisico.jpg" alt="Capa do livro, O fisico" /></figure>
</section>